{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Moviefy
{% endblock %}

{% block extra_css %}

    .flex-center {
    color: #fff;
    }

    .carousel-caption {
    height: 100%;
    padding-top: 7rem;
    }

    #particles-js {
    width: 100%;
    height: 100%;
    background-color: #1c2331;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    }
{% endblock %}

{% block active_home %}
    "nav-item active"
{% endblock %}

{% block body_remainder %}
    <div>
        <div>
            <div id="particles-js"></div>
        </div>
        <!-- Overlay -->
        <div class="carousel-caption">
            <div class="flex-center animated fadeIn">
                <ul>
                    <!-- Moviefy -->
                    <li>
                        <h1 class="h1-responsive">Moviefy</h1></li>
                    <!-- Description -->
                    <li>
                        <p>Machine Learning can now tell you what movie to watch!</p>
                    </li>
                    <li>
                        {% if not request.user.is_authenticated %}
                            <!-- Sign up -->
                            <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg" rel="nofollow">Sign
                                up!</a>
                        {% endif %}
                        <!-- Try it out -->
                        <a href="{% url 'try:index' %}" class="btn danger-color btn-lg" rel="nofollow">Try it
                            out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-lg-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">ABOUT MOVIEFY</h5>
                    <p>Moviefy is a Machine Learning based artificial system for recommending movies based on your
                        recent activities. </p>

                    <p>Moviefy is the new way of watching movies!.</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title">First column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Second column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Third column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->


        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="http://www.MDBootstrap.com"> Moviefy.com </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
{% endblock %}
{% block extra_js %}
    <!-- Particles JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>

    <script>
        particlesJS.load('particles-js', '../static/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
        particlesJS();

    </script>
{% endblock %}

