{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Moviefy
{% endblock %}

{% block extra_css %}
    /* Carousel*/

    .carousel,
    .carousel-item,
    .active {
    height: 100%;
    }

    .carousel-inner {
    height: 100%;
    }

    .flex-center {
    color: #fff;
    }

    .carousel-caption {
    height: 100%;
    padding-top: 7rem;
    }

    #particles-js {
    width: 100%;
    height: 100%;
    background-color: #1c2331;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    }
{% endblock %}

{% block active_home %}
    "nav-item active"
{% endblock %}


{% block body_remainder %}


    <!--Carousel Wrapper-->
    <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <!--Mask color-->
                <div class="view hm-black-light">

                    <div id="particles-js"></div>

                </div>

                <!--Caption-->
                <div class="carousel-caption">
                    <div class="flex-center animated fadeIn">
                        <ul>
                            <li>
                                <h1 class="h1-responsive">Moviefy</h1></li>
                            <li>
                                <p>Artificial Intelligenece can now tell you what movie to watch!</p>
                            </li>
                            <li>
                                {% if not request.user.is_authenticated %}
                                    <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg" rel="nofollow">Sign
                                        up!</a>
                                {% else %}
                                {% endif %}
                                <a href="{% url 'try:index' %}" class="btn danger-color btn-lg" rel="nofollow">Try it
                                    out</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Caption-->
            </div>
            <!--/First slide-->


            <!--/.Slides-->


        </div>
        <!--/.Carousel Wrapper-->
    </div>

    <!--/.Main layout-->

{% endblock %}
{% block footer %}
    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-lg-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">ABOUT MOVIEFY</h5>
                    <p>Moviefy is a Machine Learning based artificial system for recommending movies based on your
                        recent activities. </p>

                    <p>Moviefy is the new way of watching movies!.</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title">First column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Second column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Third column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->


        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="http://www.MDBootstrap.com"> Moviefy.com </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
{% endblock %}
{% block extra_js %}

    <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>

    <script>
        particlesJS.load('particles-js', '../static/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
        particlesJS();

    </script>
{% endblock %}

