{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
    .navbar {
    background-color: #3b465b;
    }

    .container-2 {
    padding-top: 100px;
    height: 200px;
    }

    body {
    background-color: #4e5d7a;
    }
{% endblock %}

{% block body_remainder %}

    <!-- if the user is logged in -->
    {% if request.user.is_authenticated %}
        <div class="container container-2 ">
            <!--Author box-->
            <div class="author-box">
                <!--Name-->
                <h3 class="h3-responsive text-center">Welcome
                    <strong>{{ request.user.username }}</strong> to Moviefy!</h3>
                <hr>
                <div class="row">
                    <!--Avatar-->
                    <div class="col-lg-2 offset-lg-1 col-md-2 offset-md-0  col-sm-12 offset-sm-2 col-xs-12 ">
                        <!-- Getting the user profile picture -->
                        {% for account in request.user.socialaccount_set.all %}
                            <img src="{{ account.extra_data.profile_image_url_https|cut:'_normal' }}"
                                 class="rounded-circle z-depth-2">
                        {% endfor %}

                    </div>
                    <!--Author Data-->
                    <div class="col-md-6 offset-md-2 col-sm-10 offset-sm-1">
                        <br>
                        <div class="row">
                            <div class="col">
                                <p>Ready to watch a new movie? Just choose your options, click
                                    <strong>recommend</strong>
                                    and let Moviefy do the rest.</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <br>
                                <p><strong>Movie Rating:</strong></p>


                                <form class="form-inline">

                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11" checked="checked">
                                        <label for="radio11">Above 2</label>
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio21">
                                        <label for="radio21">Above 3</label>
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio31">
                                        <label for="radio31">Above 4</label>
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio41">
                                        <label for="radio41">Only 5 stars</label>
                                    </fieldset>
                                </form>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <br>
                                <p><strong>Movie Year:</strong></p>

                                <div class="md-form">
                                    <input type="text" id="form2" class="form-control">
                                    <label for="form2">From ... </label>

                                </div>

                                <div class="md-form">
                                    <input type="text" id="form1" class="form-control">
                                    <label for="form1">To ... </label>

                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <a href="{% url 'try:index' %}" class="btn btn-lg btn-flat btn-block red"><i
                                            class="fa fa-magic left"></i> RECOMMEND ME A MOVIE</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row">

                    <div class=" col-md-8 offset-md-2 col-sm-10">
                        <br>

                        <p>
                            <small><strong>Disclaimer:</strong> we are going to use your recent tweets from twitter to
                                get a
                                personalized movie for
                                you. If you don't want to continue, you can simply try our second option entering your
                                own
                                custom text.
                            </small>
                        </p>
                    </div>
                </div>
                <!-- Recommend Button -->
                <div class="row">

                    <div class="col col-md-12">

                        <div>
                            <a href="{% url 'try:index' %}" class="btn btn-lg btn-flat btn-block stylish-color"><i
                                    class="fa fa-magic left"></i> OR TRY USING YOUR OWN CUSTOM TEXT</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Author box-->

        </div>
    {% endif %}
    {% if not request.user.is_authenticated %}
        <div class="container container-2 ">
            <!--Author box-->
            <div class="author-box">
                <div class="row ">
                    <div class="col col-md-4 offset-md-5 offset-sm-4">
                        <img src="{% static 'img/theatre-512.png' %}" height="160   px">

                    </div>

                </div>
                <hr>

                <h3 class="h3-responsive text-center">Sorry, you are not allowed to see this page.</h3>

                <h3 class="h3-responsive text-center">Please Log in to continue!</h3>
                <div class="row ">
                    <div class="col col-md-3 offset-md-5 offset-sm-4">
                        <div>
                            <a href="{% url 'try:index' %}" class="btn btn-lg btn-flat  red"><i
                                    class="fa fa-magic left"></i> Login</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Author box-->

        </div>
    {% endif %}

{% endblock %}