{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
    .navbar {
    background-color: #3b465b;
    }

    .container-2 {
    padding-top: 100px;
    height: 200px;
    }

    body {
    background-color: #4e5d7a;
    }
    .glyphicon {
    margin-right: 4px !important; /*override*/
    }
    .pagination .glyphicon {
    margin-right: 0px !important; /*override*/
    }
    .pagination a {
    color: #555;
    }
    .panel ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    }
    .news-item {
    padding: 4px 4px;
    margin: 0px;
    border-bottom: 1px dotted #555;
    }
{% endblock %}

{% block body_remainder %}

    <!-- if the user is logged in -->
    {% if request.user.is_authenticated and not request.user.is_superuser %}
        <div id="domMessage" style="display:none;">
            <h1>We are processing your request. Please be patient.</h1>
        </div>
        <div class="container container-2 ">
            <!--Content box-->
            <div class="author-box">

                <!--Profile Picture -->
                <div class="row">
                    <div class="col col-8 col-md-8 offset-md-5 offset-sm-4">
                        <!-- Getting the user profile picture -->
                        {% for account in request.user.socialaccount_set.all %}
                            <img src="{{ account.extra_data.profile_image_url_https|cut:'_normal' }}" height="100px"
                                 class="rounded-circle z-depth-2">
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <!-- Welcome USERNAME -->
                <div class="row">
                    <div class="col col-8 col-md-8 offset-md-2">
                        <h2 class="h3-responsive text-center">Welcome
                            <strong>{{ request.user.username }}</strong> to Moviefy!</h2>
                    </div>
                </div>
                <hr>
                <!-- Twitter stream and Options -->
                <div class="row">
                    <!-- Auto Scrolling Tweets - Newsticker style -->
                    <div class="col-md-4 offset-md-1  col-sm-12 offset-sm-2 col-xs-12">
                        <br>

                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span><b>Your
                                recent
                                Tweets</b>
                            </div>
                            <br>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul class="demo">
                                            {% for tweet in user_tweets %} <!-- loop 10 times -->
                                                <li class="news-item">
                                                    <table cellpadding="4">
                                                        <tr>
                                                            <td>
                                                                <img src="{% static 'img/twitter-logo.png' %}"
                                                                     width="60">
                                                            </td>
                                                            <td>
                                                                {{ tweet }}
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                    <!-- Other options like Rating, Start Year, End Year -->
                    <div class="col-md-5 offset-md-1 col-sm-10 offset-sm-1">
                        <br>
                        <!-- Description -->
                        <div class="row">
                            <div class="col">
                                <p>Ready to watch a new movie? Just choose your options, click
                                    <strong>recommend</strong>
                                    and let Moviefy do the rest.</p>
                            </div>
                        </div>
                        <form id="movie-options-form" method="post" action="{% url 'recommend:recommendation' %}"
                              class="form center-block">
                            {% csrf_token %}
                            <!-- Movie Rating -->
                            <div class="row">
                                <div class="col">
                                    <br>
                                    <p><strong>Movie Rating:</strong></p>
                                    <div data-toggle="buttons">
                                        <div class="btn-group">

                                            <label class="btn btn-primary">
                                                <input type="radio" name="rating" id="type" value="5" class="sr-only"
                                                       required> > 5
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="rating" id="type" value="6" class="sr-only"
                                                       required> > 6
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="rating" id="type" value="7" class="sr-only"
                                                       required> > 7
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="rating" id="type" value="8" class="sr-only"
                                                       required> > 8
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Movie Year -->
                            <div class="row">
                                <div class="col">
                                    <br>
                                    <p><strong>Movie Year:</strong></p>
                                    <input id="startYear" name="start" type="number" required min="1900" max="2017"
                                           placeholder="From.."/>
                                    <input id="endYear" name="end" type="number" required min="1900" max="2017"
                                           placeholder="To.."/>
                                </div>
                            </div>
                            <!-- Recommend Button -->
                            <div class="row">

                                <div class="col col-md-12">
                                    <br>

                                    <div>
                                        <button type="submit" class="btn btn-lg btn-flat btn-block red">
                                            <i class="fa fa-magic left"></i>Recommend ME A MOVIE
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

                <!-- Disclaimer -->
                <div class="row">
                    <div class=" col-md-8 offset-md-2 col-sm-10">
                        <br>
                        <p>
                            <small><strong>Disclaimer:</strong> we are going to use your recent tweets from twitter
                                to
                                get a
                                personalized movie for
                                you. If you don't want to continue, you can simply try our second option by entering
                                your
                                own
                                custom text.
                            </small>
                        </p>
                    </div>
                </div>
                <!-- Try using your own text Button -->
                <div class="row">

                    <div class="col col-md-12">

                        <div>
                            <a href="{% url 'try:index' %}" class="btn btn-lg btn-flat btn-block stylish-color"><i
                                    class="fa fa-magic left"></i> OR TRY USING YOUR OWN CUSTOM TEXT</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Content box-->
        </div>
    {% endif %}
    {% if not request.user.is_authenticated %}
        <div class="container container-2 ">
            <div class="author-box">
                <div class="row ">
                    <div class="col col-md-4 offset-md-5 offset-sm-4">
                        <img src="{% static 'img/theatre-512.png' %}" height="160   px">
                    </div>
                </div>
                <hr>
                <h3 class="h3-responsive text-center">Sorry, you are not allowed to see this page.</h3>

                <h3 class="h3-responsive text-center">Please Sign in using <strong>Twitter</strong> to continue!</h3>
                <div class="row ">
                    <div class="col col-md-3 offset-md-5 offset-sm-4">
                        <div>
                            <a href="/accounts/login/" class="btn btn-lg btn-flat  red"><i
                                    class="fa fa-magic left"></i> Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/jquery.bootstrap.newsbox.min.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        // For the tweets news ticker
        $(function () {
            $(".demo").bootstrapNews({
                newsPerPage: 4,
                navigation: true,
                autoplay: true,
                direction: 'up', // up or down
                animationSpeed: 'normal',
                newsTickerInterval: 3000, //4 secs
                pauseOnHover: true,
                onStop: null,
                onPause: null,
                onReset: null,
                onPrev: null,
                onNext: null,
                onToDo: null
            });
        });
    </script>


    <script>
        // Appending tweets to the POST request before submitting the form.
        $('#movie-options-form').submit(function (eventObj) {
            $(this).append('<input type="hidden" name="tweets" value="{{ user_tweets|join:"\r\n" }}">');
            // Display a message while the page is loading
            $.blockUI({
                message: '<img height="100px" src="{% static 'img/loading_apple.gif' %}" />',
                css: {
                    border: 'none',
                    backgroundColor: 'transparent'
                }
            });

            return true;
        });
    </script>

    <script>
        // To display a loading message when the user tries to reload/refresh the page
        window.onbeforeunload = function () {
            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });
        };
        // Disable on all link clicks
        $(function () {
            $('a, input, button').click(function () {
                window.onbeforeunload = null;
            });
        });

    </script>
{% endblock %}