{% extends 'base.html' %}

{% load staticfiles %}
{% block extra_css %}
    .container-2 {
    padding-top: 70px;
    height: 200px;
    }

    textarea.md-textarea {
    height: 200px;
    overflow-y: scroll;
    }

    .img-clip {
    }
    span.stars, span.stars span {
    display: block;
    background: url("../static/img/stars.png") 0 -16px repeat-x;
    width: 80px;
    height: 16px;
    }

    span.stars span {
    background-position: 0 0;
    }
    .read-more-state {
    display: none;
    }

    .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
    }

    .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
    }

    .read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
    }

    .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
    }

    .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
    }

{% endblock %}

{% block body_remainder %}

    <div class="container container-2 ">


        {% if recommend %}
            <br/>
            <div class="row">

                <div class="col col-md-12">
                    <div class="author-box">
                        <!--Name-->
                        <div class="row">

                            <!--Author Data-->
                            <div class="col-12 col-sm-12">
                                <h4><strong>Your feelings based on what you wrote.</strong></h4>
                                <canvas id="feelingChart" width="1000" height="400"></canvas>
                                <br/>
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                                    minus.</p>
                                </p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-md-6 offset-md-3 col-sm-12">
                                <a href="{% url 'try:index' %}" class="btn btn-lg btn-flat btn-block red"><i
                                        class="fa fa-magic left"></i> Try Again</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                {% for movie in movies_json %}

                    <div class="col col-md-3">
                        <br>
                        <!--Card-->
                        <div class="card card-cascade wider">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://image.tmdb.org/t/p/w640/{{ movie.poster_path }}" class="img-fluid"
                                     alt="">
                                <a>
                                    <div class="mask waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block text-center">
                                <!--Category & Title-->
                                <h4 class="card-title"><strong><a href="">{{ movie.title }}</a></strong></h4>

                                <!--Rating-->
                                <div class="row justify-content-center">
                                    <span class="stars">{% widthratio movie.vote_average 2 1 %}</span>
                                </div>
                                <br>
                                <!--Description-->
                                <div>
                                    <input type="checkbox" class="read-more-state" id="post-{{ movie.id }}"/>

                                    <p class="card-text read-more-wrap">{{ movie.overview|slice:":100" }}<span
                                            class="read-more-target">{{ movie.overview|slice:"100:" }}</span>
                                    </p>

                                    <label for="post-{{ movie.id }}" class="read-more-trigger"></label>
                                </div>


                                <!--Card footer-->
                                <div class="card-footer">
                                  <span class="center">
                                    <a href="https://www.themoviedb.org/movie/{{ movie.id }}" data-toggle="tooltip"
                                           data-placement="top" title="Link"><i
                                                class="fa fa-link"></i> TMDB</a>
                                  </span>

                                </div>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>

                {% endfor %}

            </div>
        {% endif %}
    </div>
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <script>
        new Chart(document.getElementById("feelingChart"), {
            type: 'doughnut',
            data: {
                labels: ["Anger", "Disgust", "Fear", "Joy", "Sadness"],

                datasets: [{
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: {{ feelings }}
                }]
            },
            options: {
                title: {
                    display: true,
                }
            }
        });
        $.fn.stars = function () {
            return $(this).each(function () {
                // Get the value
                var val = parseFloat($(this).html());


                // Make sure that the value is in 0 - 5 range, multiply to get width
                var size = Math.max(0, (Math.min(5, val))) * 16;
                // Create stars holder
                var $span = $('<span />').width(size);
                // Replace the numerical value with stars
                $(this).html($span);
            });
        }


    </script>

    <script>
        $(function () {
            $('span.stars').stars();
        });
    </script>
{% endblock %}

