{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
    .container-2 {
    padding-top: 70px;
    height: 200px;
    }

    textarea.md-textarea {
    height: 200px;
    overflow-y: scroll;
    }

    .img-clip {
    }


{% endblock %}
{% block active_try %}
    "nav-item active"
{% endblock %}

<!--Navbar-->
{% block body_remainder %}

    <div class="container container-2 ">
        {% if not recommend %}
            <!-- Moviefy Header -->
            <div class="row">

                <div class="col col-md-12">
                    <div class="author-box">
                        <!--Name-->
                        <div class="row">
                            <!--Avatar-->
                            <div class="col-12 col-sm-2">
                                <img src="{% static 'img/theatre-512.png' %}"
                                     class="img-fluid rounded-circle z-depth-2">
                            </div>
                            <!--Author Data-->
                            <div class=" col-12 col-sm-10">
                                <h2><strong>Moviefy</strong></h2>

                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                                    minus.</p>
                                <p class="hidden-md-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint
                                    esse nulla quia quam veniam commodi dicta, iusto inventore. Voluptatum pariatur
                                    eveniet
                                    ea, officiis vitae praesentium beatae quas libero, esse facere.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <form id="user-input" method="post" action="{% url 'recommend:recommendation' %}"
                      class="form col-md-12 center-block">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col col-md-12">
                            <div class="author-box">
                                <h3><strong>Sample use cases</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse nulla quia quam
                                    veniam commodi dicta, iusto inventore. Voluptatum pariatur eveniet ea, officiis
                                    vitae
                                    praesentium beatae quas libero, esse facere.
                                </p>
                                <br>
                                <div id="tabs">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tabs-3 stylish-color" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#panel1"
                                               role="tab">Tweets</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#panel2" role="tab">Online
                                                Review</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#panel3" role="tab">Your own
                                                text</a>
                                        </li>
                                    </ul>
                                    <!-- Tab panels -->
                                    <div class="tab-content card">
                                        <!--Panel 1-->
                                        <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                                            <textarea name="text-area1" id="textarea1" class="md-textarea"
                                                      length="1000">I hate these new features On #ThisPhone after the update.</textarea>
                                            <label for="textarea1">Type your tweets here.</label>

                                        </div>
                                        <!--/.Panel 1-->
                                        <!--Panel 2-->
                                        <div class="tab-pane fade" id="panel2" role="tabpanel">
                                            <textarea name="text-area2" id="textarea2" class="md-textarea"
                                                      length="1000">I was asked to sign a thirtook a lot of wranglooms.  is you walk through </textarea>
                                            <label for="textarea2">Edit/Add your own review.</label>

                                        </div>

                                        <!--/.Panel 2-->
                                        <!--Panel 3-->

                                        <div class="tab-pane fade" id="panel3" role="tabpanel">
                                        <textarea name="text-area3" id="textarea3" class="md-textarea" length="1000"
                                                  placeholder="Your text goes here..."></textarea>
                                            <label for="textarea3">Try any text you want.</label>

                                        </div>
                                        <!--/.Panel 3-->
                                    </div>
                                </div>
                                <div>

                                </div>

                            </div>
                        </div>


                    </div>
                    <!-- Recommend Button -->
                    <div class="row">

                        <div class="col col-md-12">
                            <br>

                            <div>
                                <button id="recommend-btn" type="submit" class="btn btn-lg btn-flat btn-block red">
                                    <i class="fa fa-magic left"></i>Recommend ME A MOVIE
                                </button>

                            </div>
                        </div>
                    </div>
                </form>

            </div>

            </div>
        {% endif %}

    </div>

{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            var current_tab;
            // Handling data-toggle manually
            $('.nav-tabs a').click(function () {
                $(this).tab('show');
            });
            // The on tab shown event
            $('.nav-tabs a').on('shown.bs.tab', function (e) {
                current_tab = $(e.target).attr("href");
                $('textarea').attr("disabled", false);
            });
            $('#user-input').submit(function () {
                if (current_tab) {
                    current_tab = current_tab.substr(-1, 1);
                }
                else {
                    current_tab = "1";
                }
                current_tab = "text-area" + current_tab.toString();
                current_tab = current_tab.toString();
                //window.alert(current_tab);
                // target textarea to submit
                $('textarea').attr("disabled", true);
                //window.alert(current_tab);
                if (current_tab == "text-area1") {
                    $('textarea[name="text-area1"]').prop('disabled', false);
                }
                else if (current_tab == "text-area2") {
                    $('textarea[name="text-area2"]').prop('disabled', false);
                }
                else if (current_tab == "text-area3") {
                    $('textarea[name="text-area3"]').prop('disabled', false);
                }

            });

        });


    </script>
    <script>
        $(document).on('click', '#recommend-btn', function () {
            $.blockUI({
                message: '<img height="100px" src="https://www.wallies.com/filebin/images/loading_apple.gif" />',
                css: {
                    border: 'none',
                    backgroundColor: 'transparent'
                }
            });

        });

    </script>
{% endblock %}

